$annotation-fontsize: 1.6rem;
$default-fontcolor: #efefef;
$active-fontcolor: #E56528;

.js--ui-annotation {
    display: block;
    transform: translate(-50%, -100%);
    position: absolute;

    font-size: $annotation-fontsize;
    color: $default-fontcolor;
    padding: .4rem;
    opacity: 1;

    pointer-events: all;
    cursor: pointer;
    user-select: none;

    transition: color .3s;
    overflow: hidden;

    animation: pulse 2s 1s;

    &.active {
        color: $active-fontcolor;

        &:after {
            background-color: #E56528;
        }
    }

    &::before {
        content: "";

        display: block;
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 100%;
        z-index: -1;

        background-color: #E56528;

        transition: top .3s;
    }

    &::after {
        content: "";

        display: block;
        width: 100%;
        height: .1rem;

        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;

        background-color: #efefef;

        transition: background-color .3s;
    }

    &:hover {
        color: #000000;

        &::before {
            top: 0%;
        }

        &::after {
            background-color: #E56528;
        }
    }

    &.visibilityLowered {
        opacity: .3;
    }
}


@keyframes pulse {
    0% {
        font-size: $annotation-fontsize;
        color: $default-fontcolor;
    }
    50% {
        font-size: calc(#{$annotation-fontsize} * 1.25);
        color: $active-fontcolor;
    }
    100% {
        font-size: $annotation-fontsize;
        color: $default-fontcolor;
    }
}
