.button {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    padding: 2rem;

    border: .1rem solid #efefef;

    cursor: pointer;
    pointer-events: all;

    &--icon {
        padding: 1rem;
        border-radius: 50%;

        transition: .3s border, .3s transform;

        &:hover {
            border: .1rem solid #E56528;
            transform: scale(.975);
        }

        img {
            display: block;
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    &.sceneButton {
        position: absolute;
        right: 1rem;
        top: 50%;
        transform: translate(0, -50%);
        z-index: 2;

        border: none;
        padding: .5rem;

        height: 6rem;
        border-radius: .4rem;
        backdrop-filter: blur(1rem);

        @media only screen and (min-width: 1200px) {
            right: 5rem;
            top: 50%;

            height: 10rem;
        }

        .icon {
            height: 100%;

            transition: transform .4s;

            &.restart {
                height: 50%;
            }
        }

        //states
        &:hover {
            .icon {
                filter: invert(43%) sepia(88%) saturate(732%) hue-rotate(342deg) brightness(93%) contrast(92%);

                transform: scale(.95);
            }
        }
    }

    &.tutorialButton {
        position: absolute;
        right: 1rem;
        top: 1rem;

        border: none;
        padding: .5rem;
        height: 4.8rem;

        @media only screen and (min-width: 1200px) {
            right: 5rem;
            top: 5rem;
            height: 6.4rem;
        }

        .icon {
            height: 100%;

            transition: transform .4s;
        }

        //states
        &:hover {
            .icon {
                filter: invert(43%) sepia(88%) saturate(732%) hue-rotate(342deg) brightness(93%) contrast(92%);

                transform: scale(.95);
            }
        }
    }

    &.tutorialClosebutton {
        position: absolute;
        right: 1rem;
        top: 1rem;

        border: none;
        padding: .5rem;
        height: 4.8rem;

        @media only screen and (min-width: 1200px) {
            right: 5rem;
            top: 5rem;
            height: 6.4rem;
        }

        .icon {
            height: 100%;

            transition: transform .4s;
        }

        //states
        &:hover {
            .icon {
                filter: invert(43%) sepia(88%) saturate(732%) hue-rotate(342deg) brightness(93%) contrast(92%);

                transform: scale(.95);
            }
        }
    }
}

.hidden {
    display: none;
    visibility: hidden;
    pointer-events: none;
}
