.button {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;

    padding: 2rem;

    border: .1rem solid #efefef;

    cursor: pointer;
    pointer-events: all;
    user-select: none;

    &--icon {
        padding: 1rem;
        border-radius: 50%;

        transition: .3s border, .3s transform;

        &:hover {
            border: .1rem solid #E56528;
            transform: scale(.975);
        }

        img {
            display: block;
            width: 3.6rem;
            height: 3.6rem;
        }
    }

    &.sceneButton {
        position: absolute;
        right: 5rem;
        top: 50%;
        transform: translate(0, -50%);

        border: none;
        padding: .5rem;

        height: 10rem;
        border-radius: .4rem;
        backdrop-filter: blur(1rem);

        .icon {
            height: 100%;
        }
    }

    &.hidden {
        display: none;
        visibility: hidden;
        pointer-events: none;
    }

}
