.credits {

    &.open {
        display: flex !important;
    }

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    padding: 4rem;
    text-align: center;
    margin: auto 0;

    h2, h3 {
        margin: 0;
        font-family: 'Prata', serif;
        color: #EFEFEF;
        font-size: 1.6rem;
        font-weight: 100;
        text-transform: uppercase;

        @media only screen and (min-width: 425px) {
            font-size: 2.4rem;
        }
    }

    h3 {
        font-size: 1.4rem;

        @media only screen and (min-width: 425px) {
            font-size: 1.8rem;
        }
    }

    p {
        max-width: 100rem;
        margin: 4rem 0 0 0;
        color: #C6C6C6;
        font-family: 'Lato', sans-serif;
        font-size: 1.2rem;

        @media only screen and (min-width: 425px) {
            font-size: 1.6rem;
        }
    }

    .credits__img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80%;
        margin: 0 auto;

        img {
            border: 1px solid #EFEFEF;
            border-radius: 2px;

            margin-top: 4rem;
            margin-left: auto;
            margin-right: 4rem;
            max-width: 60rem;
        }

        &__context {
            text-align: left;

            &__date {
                margin-top: 2rem;
                color: #E56528;
            }
        }
    }


}




