.credits {

    &.open {
        display: block !important;
    }

    padding: 4rem 2rem 2rem;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    padding: 4rem;
    text-align: center;
    margin: auto 0;

    @media only screen and (min-width: 1000px) {
        padding: 6rem 4rem 5rem;
    }

    .credits__header {
        &__title {
            font-family: 'Prata', serif;
            color: #EFEFEF;

            font-weight: 100;
            text-transform: uppercase;
            font-size: 1.4rem;

            @media only screen and (min-width: 1000px) {
                font-size: 2.4rem;
            }
        }

        &__subtitle {
            color: #C6C6C6;

            font-family: 'Lato', sans-serif;
            font-size: .8rem;

            @media only screen and (min-width: 1000px) {

                font-size: 1.6rem;
            }
        }
    }

    .credits__img {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        width: 80%;
        margin: 0 auto;

        @media only screen and (min-width: 1000px) {
            align-items: center;
        }

        img {
            border: 1px solid #EFEFEF;
            border-radius: 2px;

            width: 40%;

            margin-right: 2rem;

            @media only screen and (min-width: 1000px) {
                margin-top: 4rem;
                margin-left: auto;
                margin-right: 4rem;
                max-width: 60rem;

                width: auto;
            }
        }

        &__context {
            text-align: left;

            &__title {
                font-family: 'Prata', serif;
                color: #EFEFEF;

                font-weight: 100;
                text-transform: uppercase;
                font-size: 1.4rem;

                @media only screen and (min-width: 1000px) {
                    font-size: 1.8rem;
                }
            }

            &__date {
                margin-top: 0;
                color: #E56528;

                font-family: 'Lato', sans-serif;
                font-size: .8rem;

                @media only screen and (min-width: 1000px) {
                    margin-top: 2rem;

                    font-size: 1.2rem;
                }
            }

            &__explanation {
                margin-top: 1rem;

                color: #C6C6C6;
                font-family: 'Lato', sans-serif;
                font-size: .8rem;

                max-height: 14rem;
                pointer-events: all;
                overflow-y: scroll;

                @media only screen and (min-width: 1000px) {
                    margin-top: 4rem;

                    font-size: 1.6rem;

                    max-height: none;
                    overflow: auto;
                    pointer-events: none;
                }
            }
        }
    }


}
