$size: 18rem;
$size-mobile: 15rem;

body {
    background-color: black;
    overflow: hidden;
}

.overlay {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
}

.title {
    background-color: black;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__small {
        font-family: "Lato", "sans-serif";
        font-size: 3rem;
        font-weight: 100;
        background-color: black;
        z-index: 2;

        @media only screen and (min-width: 425px) and (max-width: 1500px) {
            font-size: 2rem
        }
    }

    &__big {
        font-family: "Prata", "serif";
        font-size: 6rem;
        font-weight: 100;
        background-color: black;
        z-index: 2;
        @media only screen and (min-width: 425px) and (max-width: 1500px) {
            font-size: 4.5rem
        }
    }
}

.circle {
    width: 100%;
    height: 100%;
    top: $size ;
    position: absolute;
    border: 0.5rem solid white;
    border-bottom: none;
    top: $size;
    height: $size;
    width: $size * 2;
    border-top-left-radius: $size * 2;
    border-top-right-radius: $size * 2;


    @media only screen and (min-width: 425px) and (max-width: 1500px) {
        height: $size-mobile;
        width: $size-mobile * 2;
        top: $size-mobile - 11;
        border-top-left-radius: $size-mobile * 2;
        border-top-right-radius: $size-mobile * 2;
    }
}


.rotate {
    animation: 3s ease 1 rotate;
    position: absolute;
    opacity: 0;
    transform-origin: 50% 100%;
    animation-fill-mode: forwards;
  }


.fadeIn {
    animation: fade ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: fade ease 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}


@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rotate {
    from {
      transform: rotate(0deg);
      opacity: 0;
    }
    to {
      transform: rotate(360deg);
      opacity: 1;
    }
}
