.quote {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    opacity: 1;
    transition: opacity .5s ease-in-out;

    padding: 6rem 2rem 2rem;

    &__box {

        width: 60rem;
        height: 25rem;
        margin: 0 auto;
        margin-top: 2rem;
        padding: 2rem;
        display: flex;
        color: white;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgba(25, 25, 25, 0.5);
        backdrop-filter: blur(3rem);
        border-radius: 0.4rem;

        @media only screen and (min-width: 1200px) {
            height: 35rem;
            width: 80rem;
        }

        &__text{
            font-family: "Prata", "serif";
            font-size: 1.2rem;
            font-weight: 100;
            z-index: 2;
            transition: opacity .5s ease-in-out;
            height: 3rem;

            @media only screen and (min-width: 1200px) {
                font-size: 3rem;
            }
        }

        &__person {
            font-family: "Lato", "sans-serif";
            font-size: 1.8rem;
            font-weight: 100;
            z-index: 2;
            line-height: 0;
            transition: opacity .5s ease-in-out;

            &--name {
                color: #E56528;
            }

            @media only screen and (min-width: 1200px) {
                font-size: 2.5rem;
            }
        }
    }

    &__imagebox {
        display: flex;
        justify-content: space-between;
        padding: 1rem 2rem 0rem;

        @media only screen and (min-width: 1200px) {
            justify-content: space-around;
            padding: 1rem 4rem;
        }

        &__image {
            z-index: 10;
            width: 8rem;
            height: 8rem;
            object-fit: cover;
            border-radius: 10rem;
            border: #E56528 0.2rem solid;
            pointer-events: all;
            cursor: pointer;
            transition: 0.3s all ease-in-out;

            @media only screen and (min-width: 1200px) {
                width: 15rem;
                height: 15rem;
            }

            &:hover {
                transform: scale(1.05);
            }
        }
    }
}

.active {
    border-width: 0.5rem;
    pointer-events: none;
}
