.rotateScreen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;

    display: none;
    opacity: 0;
    visibility: hidden;

    width: 100vw;
    height: 100vh;
    background-color: #000;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    transition: opacity .4s;

    overflow: hidden;

    //open state
    @media only screen and (max-width: 1000px) and (orientation: portrait) {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .logo {
        position: absolute;
        left: 1rem;
        top: 1rem;

        display: block;
        width: 4rem;
        height: 4rem;

    }

    .rotateIcon {
        width: 40%;
        height: auto;
    }

    .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        margin-top: 4rem;
        width: 80%;

        .title {
            font-family: 'Prata', serif;
            color: #E56528;
            font-size: 2.4rem;

            font-weight: 100;
            margin: 0;
            text-transform: uppercase;
        }

        .subtitle {
            width: 100%;

            font-family: 'Lato', sans-serif;
            color: #C6C6C6;
            font-size: 1.2rem;

            margin-top: .4rem;
            display: block;
        }
    }

}
