$panel-height: 30rem;
$panel-height-mobile: 100vh;
$panel-transition-time: .6s;

$label-width: 12rem;
$label-height: 4rem;
$label-spacing: 2rem;

.ui-container {
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    .panel {
        display: block;
        height: $panel-height-mobile;
        width: 100%;
        padding: 2rem;

        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 10;
        pointer-events: all;

        background-color: rgba(25, 25, 25, 0.5);
        backdrop-filter: blur(3rem);

        transition: top $panel-transition-time;

        @media only screen and (min-width: 1200px) {
            height: $panel-height-mobile;
            padding-top: 4rem;
            padding: 4rem;
        }

        &.open {
            //set top offset to full panel height, but give space for collapse label + margin
            top: calc(100% - #{$panel-height-mobile} + #{$label-height} + 6rem);

            //non fullscreen for mobile
            @media only screen and (min-width: 1200px) {
                top: calc(100% - #{$panel-height});
            }

            .ui-label {
                top: calc(-1 * #{$label-height});
                opacity: 1;
                border: 1px solid #ffffff4d;
                border-bottom: none;
            }
        }

        &.collapsed {
            top: 85vh;

            @media only screen and (min-width: 1200px) {
                top: 100vh;
            }

            .ui-label--collapse img {
                transform: rotate(180deg);
            }
        }

    }

    .textPanel {
        display: flex;
        flex-direction: column;

        @media only screen and (min-width: 1200px) {
            flex-direction: row;
        }

        .title {
            width: 100%;

            font-family: 'Prata', serif;
            color: #EFEFEF;
            font-size: 1.6rem;

            font-weight: 100;
            margin: 0;
            text-transform: uppercase;

            @media only screen and (min-width: 1200px) {
                width: 30%;
                margin: 0;

                font-size: 2.4rem;
            }
        }

        .text {
            width: 100%;

            font-family: 'Lato', sans-serif;
            color: #C6C6C6;
            font-size: 1.2rem;

            margin-top: 2rem;
            display: block;

            max-height: 15rem;
            overflow-y: scroll;
            overflow-x: hidden;
            pointer-events: all;

            @media only screen and (min-width: 1200px) {
                width: 60%;
                margin-top: 0;

                font-size: 1.6rem;

                display: block;

                max-height: 20rem;
            }
        }
    }

    .ui-label {
        display: flex;
        visibility: visible;

        position: absolute;
        top: 0;

        width: $label-width;
        height: $label-height;

        background-color: rgba(25, 25, 25, 0.5);
        backdrop-filter: blur(3rem);
        opacity: 0;

        border: 1px solid #00000000;
        border-radius: .5rem .5rem 0 0;
        pointer-events: all;

        transition: opacity .4s, top .4s;

        &:hover {
            button .label {
                color: #E56528;
            }
        }

        &--collapse {
            right: $label-width;
        }

        &--reset {
            //left of collapse label
            right: calc((#{$label-width} * 2) + #{$label-spacing});

            //hide this label until on exploration-screen
            &.hidden {
                display: none;
                visibility: hidden;
                pointer-events: none;
            }
        }

        button {
            background-color: transparent;
            border: none;

            width: 100%;
            height: 100%;
            padding: 1.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            cursor: pointer;

            .label {
                font-family: 'Lato', sans-serif;
                color: #C6C6C6;
                font-size: 1.2rem;
                margin: 0;

                transition: color .4s;
            }

            img {
                transition: .4s transform;
            }
        }
    }
}
